<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="dailyRollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/cnu/weather-crawler.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/cnu/weather-crawler-%d{yyyy-MM-dd-HH}.log.gz</fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>
    <logger name="org.cnu.realcoding" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="dailyRollingFileAppender"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
